<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/LayoutPadrao">
<head>
	<title>Signos Solares</title>
</head>

<section layout:fragment="titulo">Signos Solares <a class="btn btn-success" th:href="@{/solares/new}">Novo</a></section>

<section layout:fragment="conteudo">
	<div layout:include="layouts/MensagemGeral"></div>
	
	<div class="table-responsive">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center com-md-1">#</th>
					<th>Signo</th>
					<th class="text-right col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${lista}">
					<td class="text-center com-md-1" th:text="${item.id}">#</td>
					<td th:text="${item.signo.descricao}" th:classappend="${item.foiConferido} ? fundo-verde"></td>
					<td class="text-center">
						<a class="btn btn-link btn-xs" th:href="@{/solares/edit/{id}(id=${item.id})}"
							title="Editar" rel="tooltip" data-placement="top">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
							th:attr="data-codigo=${item.id}, data-descricao=${item.descricao}"
							title="Excluir" rel="tooltip" data-placement="top">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="3" th:if="${#lists.isEmpty(lista)}">Sem informações para apresentar</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade"	id="confirmacaoExclusaoModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
		
			<form th:attr="action=@{/solares/delete}" method="POST">
				<input type="hidden" name="_method" value="DELETE"/>
		
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Você tem certeza?</h4>
					</div>
					
					<div class="modal-body">
						<span>Tem certeza que deseja excluir?</span>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-danger">Excluir</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
	<script th:src="@{/js/exclusao.js}"></script>
		
</section>

</html>