<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layouts/LayoutPadrao">

<head>
	<title>Cúspide</title>
</head>

<section layout:fragment="titulo">Cúspide</section>

<section layout:fragment="conteudo">

	<form method="POST" th:action="@{/cuspides}" th:object="${model}">
		<div layout:include="layouts/MensagemErro"></div>
		<div layout:include="layouts/MensagemGeral"></div>

		<input type="hidden" th:field="*{id}"></input>

		<div class="row">
			<div class="form-group col-md-6">
				<label for="dia">Signo:</label>
				<select class="form-control" id="signo" name="signo" th:field="*{signo}">
					<option th:each="obj : ${listaSignos}" th:value="${obj}" th:text="${obj.descricao}"></option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<label for="dia">Casa:</label>
				<input type="text" class="form-control" id="casa" name="casa" th:field="*{casa}"></input>				
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label for="texto">Texto:</label>
				<textarea class="form-control" rows="10" id="texto" name="texto" th:field="*{texto}"></textarea>
			</div>
		</div>
		
		<div class="row">
			<div class="form-group col-md-2">
				<label for="conferido">Conferido?</label>
				<select class="form-control" id="conferido" name="conferido" th:field="*{conferido}">
					<option th:each="obj : ${listaLogico}" th:value="${obj}" th:text="${obj.descricao}"></option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-6">
				<button type="submit" class="btn btn-primary">Salvar</button>
				<a class="btn btn-default" role="button" th:href="@{/cuspides}">Voltar</a>
			</div>
		</div>
	</form>

	<script>
		$(function () {
			$("#planeta").focus();
		});
	</script>

</section>

</html>