<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div th:fragment="show">
	
	    <div id="modalConsultaInfo" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                    <h3 class="modal-title">Título</h3>
	                </div>
	
	                <div class="modal-body">
							
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
	                </div>
	            </div>
	        </div>
	    </div>
	
		<script th:src="@{/js/resumo-consulta.js}"></script>
	</div>
</html>