<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/LayoutPadrao">
<head>
	<title>Registro</title>
</head>

<section layout:fragment="conteudo">
		
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
			
            <div class="panel panel-default">
                <div class="panel-heading">Alterar senha</div>
                <div class="panel-body">
					<form autocomplete="off" action="#" th:action="@{/changepassword}" th:object="${model}" method="post" role="form">
	                	<div class="alert alert-danger" th:if="${#fields.hasErrors()}">
							<div th:each="erro: ${#fields.detailedErrors()}">
								<span th:text="${erro.message}"></span>
							</div>
						</div>

						<div class="row" >
					    	<div class="form-group col-md-12" th:classappend="${#fields.hasErrors('password')} ? has-error">
					       		<label for="password" class="input-label f-left">Senha Anterior:</label>
					       		<input type="password" class="form-control" id="password" name="password" th:field="*{password}"></input>
					    	</div>
						</div>

						<div class="row" >
					    	<div class="form-group col-md-12" th:classappend="${#fields.hasErrors('newPassword')} ? has-error">
					       		<label for="password" class="input-label f-left">Nova Senha:</label>
					       		<input type="password" class="form-control" id="newPassword" name="newPassword" th:field="*{newPassword}"></input>
					    	</div>
						</div>
    				
						<div class="row" >
					    	<div class="form-group col-md-12" th:classappend="${#fields.hasErrors('passwordConfirmation')} ? has-error">
					       		<label for="passwordConfirmation" class="input-label f-left">Senha de Confirmação:</label>
					       		<input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" th:field="*{passwordConfirmation}"></input>
					    	</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
							<button type="submit" class="btn btn-primary">Alterar</button>
							<a class="btn btn-default" role="button" th:href="@{/clientes}">Cancelar</a>
							</div>
					     </div>
    				
    					<span th:utext="${successMessage}"></span>
    				</form>            
                
                </div>
             </div>
         </div>       
         
      </div>   
<script>

$(function () {
	$("#password").focus();
});
</script>
      
	
</section>

</html>







<!-- 


<body>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Ir para a Página de Login</button>
	</form>	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Registre-se</h2>
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Nome"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="validation-message"></label>
							<input type="text" th:field="*{lastName}"
								placeholder="Sobrenome" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								placeholder="Senha" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Registrar Usuário</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>

</body>
</html>
 -->